@import url("https://fonts.googleapis.com/css2?family=Merriweather%3Aital%2Cwght%400%2C400%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-WdYYlXErnvPXf: 32px;
  --plasmic-token-heading: var(--token-WdYYlXErnvPXf);
  --token-b6qUwo6E1NJ-Y: 24px;
  --plasmic-token-subheading: var(--token-b6qUwo6E1NJ-Y);
  --token-Wt2gCFy1aPPXt: rgb(0, 122, 204);
  --plasmic-token-link: var(--token-Wt2gCFy1aPPXt);
  --token-JJm7TgsOTgrml: 12px;
  --plasmic-token-subtext: var(--token-JJm7TgsOTgrml);
}

.plasmic_default_styles {
  --mixin-T07x5tf7W78hH_font-family: "Merriweather";
  --mixin-T07x5tf7W78hH_font-size: 16px;
  --mixin-T07x5tf7W78hH_font-weight: 400;
  --mixin-T07x5tf7W78hH_font-style: normal;
  --mixin-T07x5tf7W78hH_color: #535353;
  --mixin-T07x5tf7W78hH_text-align: left;
  --mixin-T07x5tf7W78hH_text-transform: none;
  --mixin-T07x5tf7W78hH_line-height: 1.5;
  --mixin-T07x5tf7W78hH_letter-spacing: normal;
  --mixin-T07x5tf7W78hH_white-space: pre-wrap;
  --mixin-T07x5tf7W78hH_user-select: text;
  --mixin-T07x5tf7W78hH_text-decoration-line: none;
  --mixin-T07x5tf7W78hH_text-overflow: clip;
  --mixin-hSBucmMckysjp_font-family: "Inter";
  --mixin-hSBucmMckysjp_color: #000000;
  --mixin-hSBucmMckysjp_font-size: 72px;
  --mixin-hSBucmMckysjp_font-weight: 900;
  --mixin-hSBucmMckysjp_letter-spacing: -4px;
  --mixin-hSBucmMckysjp_line-height: 1;
  --mixin-KHulQfCqN9qVj_font-family: "Inter";
  --mixin-KHulQfCqN9qVj_color: #000000;
  --mixin-KHulQfCqN9qVj_font-size: 48px;
  --mixin-KHulQfCqN9qVj_font-weight: 700;
  --mixin-KHulQfCqN9qVj_letter-spacing: -1px;
  --mixin-KHulQfCqN9qVj_line-height: 1.1;
  --mixin-wpNJ6C73fVoM__font-family: "Inter";
  --mixin-wpNJ6C73fVoM__color: #000000;
  --mixin-wpNJ6C73fVoM__font-size: 32px;
  --mixin-wpNJ6C73fVoM__font-weight: 600;
  --mixin-wpNJ6C73fVoM__letter-spacing: -0.8px;
  --mixin-wpNJ6C73fVoM__line-height: 1.2;
  --mixin-u4xTwu7iIn_Kw_font-family: "Inter";
  --mixin-u4xTwu7iIn_Kw_color: #000000;
  --mixin-u4xTwu7iIn_Kw_font-size: 24px;
  --mixin-u4xTwu7iIn_Kw_font-weight: 600;
  --mixin-u4xTwu7iIn_Kw_letter-spacing: -0.5px;
  --mixin-u4xTwu7iIn_Kw_line-height: 1.3;
  --mixin-g0IdnunYQA5av_font-family: "Inter";
  --mixin-g0IdnunYQA5av_color: #000000;
  --mixin-g0IdnunYQA5av_font-size: 20px;
  --mixin-g0IdnunYQA5av_font-weight: 600;
  --mixin-g0IdnunYQA5av_letter-spacing: -0.3px;
  --mixin-g0IdnunYQA5av_line-height: 1.5;
  --mixin-lQybvunUzvMUU_font-family: "Inter";
  --mixin-lQybvunUzvMUU_color: #000000;
  --mixin-lQybvunUzvMUU_font-size: 16px;
  --mixin-lQybvunUzvMUU_font-weight: 600;
  --mixin-lQybvunUzvMUU_line-height: 1.5;
  --mixin-Vf1uTicA872nx_border-left-color: #dddddd;
  --mixin-Vf1uTicA872nx_border-left-style: solid;
  --mixin-Vf1uTicA872nx_border-left-width: 3px;
  --mixin-Vf1uTicA872nx_color: #888888;
  --mixin-Vf1uTicA872nx_padding-left: 10px;
  --mixin-_8UdB-9l7HRIL_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-_8UdB-9l7HRIL_border-bottom-color: #dddddd;
  --mixin-_8UdB-9l7HRIL_border-bottom-style: solid;
  --mixin-_8UdB-9l7HRIL_border-bottom-width: 1px;
  --mixin-_8UdB-9l7HRIL_border-left-color: #dddddd;
  --mixin-_8UdB-9l7HRIL_border-left-style: solid;
  --mixin-_8UdB-9l7HRIL_border-left-width: 1px;
  --mixin-_8UdB-9l7HRIL_border-right-color: #dddddd;
  --mixin-_8UdB-9l7HRIL_border-right-style: solid;
  --mixin-_8UdB-9l7HRIL_border-right-width: 1px;
  --mixin-_8UdB-9l7HRIL_border-top-color: #dddddd;
  --mixin-_8UdB-9l7HRIL_border-top-style: solid;
  --mixin-_8UdB-9l7HRIL_border-top-width: 1px;
  --mixin-_8UdB-9l7HRIL_border-bottom-left-radius: 3px;
  --mixin-_8UdB-9l7HRIL_border-bottom-right-radius: 3px;
  --mixin-_8UdB-9l7HRIL_border-top-left-radius: 3px;
  --mixin-_8UdB-9l7HRIL_border-top-right-radius: 3px;
  --mixin-_8UdB-9l7HRIL_font-family: "Inconsolata";
  --mixin-_8UdB-9l7HRIL_padding-bottom: 1px;
  --mixin-_8UdB-9l7HRIL_padding-left: 4px;
  --mixin-_8UdB-9l7HRIL_padding-right: 4px;
  --mixin-_8UdB-9l7HRIL_padding-top: 1px;
  --mixin-CC2UfdsFQqV7o_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-CC2UfdsFQqV7o_border-bottom-color: #dddddd;
  --mixin-CC2UfdsFQqV7o_border-bottom-style: solid;
  --mixin-CC2UfdsFQqV7o_border-bottom-width: 1px;
  --mixin-CC2UfdsFQqV7o_border-left-color: #dddddd;
  --mixin-CC2UfdsFQqV7o_border-left-style: solid;
  --mixin-CC2UfdsFQqV7o_border-left-width: 1px;
  --mixin-CC2UfdsFQqV7o_border-right-color: #dddddd;
  --mixin-CC2UfdsFQqV7o_border-right-style: solid;
  --mixin-CC2UfdsFQqV7o_border-right-width: 1px;
  --mixin-CC2UfdsFQqV7o_border-top-color: #dddddd;
  --mixin-CC2UfdsFQqV7o_border-top-style: solid;
  --mixin-CC2UfdsFQqV7o_border-top-width: 1px;
  --mixin-CC2UfdsFQqV7o_border-bottom-left-radius: 3px;
  --mixin-CC2UfdsFQqV7o_border-bottom-right-radius: 3px;
  --mixin-CC2UfdsFQqV7o_border-top-left-radius: 3px;
  --mixin-CC2UfdsFQqV7o_border-top-right-radius: 3px;
  --mixin-CC2UfdsFQqV7o_font-family: "Inconsolata";
  --mixin-CC2UfdsFQqV7o_padding-bottom: 3px;
  --mixin-CC2UfdsFQqV7o_padding-left: 6px;
  --mixin-CC2UfdsFQqV7o_padding-right: 6px;
  --mixin-CC2UfdsFQqV7o_padding-top: 3px;
  --mixin-7XLSCdRuriRMy_display: flex;
  --mixin-7XLSCdRuriRMy_flex-direction: column;
  --mixin-7XLSCdRuriRMy_align-items: stretch;
  --mixin-7XLSCdRuriRMy_justify-content: flex-start;
  --mixin-7XLSCdRuriRMy_list-style-position: outside;
  --mixin-7XLSCdRuriRMy_padding-left: 40px;
  --mixin-7XLSCdRuriRMy_position: relative;
  --mixin-7XLSCdRuriRMy_list-style-type: decimal;
  --mixin-XowBTcPGgaNoW_display: flex;
  --mixin-XowBTcPGgaNoW_flex-direction: column;
  --mixin-XowBTcPGgaNoW_align-items: stretch;
  --mixin-XowBTcPGgaNoW_justify-content: flex-start;
  --mixin-XowBTcPGgaNoW_list-style-position: outside;
  --mixin-XowBTcPGgaNoW_padding-left: 40px;
  --mixin-XowBTcPGgaNoW_position: relative;
  --mixin-XowBTcPGgaNoW_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-T07x5tf7W78hH_font-family);
  font-size: var(--mixin-T07x5tf7W78hH_font-size);
  font-weight: var(--mixin-T07x5tf7W78hH_font-weight);
  font-style: var(--mixin-T07x5tf7W78hH_font-style);
  color: var(--mixin-T07x5tf7W78hH_color);
  text-align: var(--mixin-T07x5tf7W78hH_text-align);
  text-transform: var(--mixin-T07x5tf7W78hH_text-transform);
  line-height: var(--mixin-T07x5tf7W78hH_line-height);
  letter-spacing: var(--mixin-T07x5tf7W78hH_letter-spacing);
  white-space: var(--mixin-T07x5tf7W78hH_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-hSBucmMckysjp_font-family);
  color: var(--mixin-hSBucmMckysjp_color);
  font-size: var(--mixin-hSBucmMckysjp_font-size);
  font-weight: var(--mixin-hSBucmMckysjp_font-weight);
  letter-spacing: var(--mixin-hSBucmMckysjp_letter-spacing);
  line-height: var(--mixin-hSBucmMckysjp_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-KHulQfCqN9qVj_font-family);
  color: var(--mixin-KHulQfCqN9qVj_color);
  font-size: var(--mixin-KHulQfCqN9qVj_font-size);
  font-weight: var(--mixin-KHulQfCqN9qVj_font-weight);
  letter-spacing: var(--mixin-KHulQfCqN9qVj_letter-spacing);
  line-height: var(--mixin-KHulQfCqN9qVj_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-wpNJ6C73fVoM__font-family);
  color: var(--mixin-wpNJ6C73fVoM__color);
  font-size: var(--mixin-wpNJ6C73fVoM__font-size);
  font-weight: var(--mixin-wpNJ6C73fVoM__font-weight);
  letter-spacing: var(--mixin-wpNJ6C73fVoM__letter-spacing);
  line-height: var(--mixin-wpNJ6C73fVoM__line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-u4xTwu7iIn_Kw_font-family);
  color: var(--mixin-u4xTwu7iIn_Kw_color);
  font-size: var(--mixin-u4xTwu7iIn_Kw_font-size);
  font-weight: var(--mixin-u4xTwu7iIn_Kw_font-weight);
  letter-spacing: var(--mixin-u4xTwu7iIn_Kw_letter-spacing);
  line-height: var(--mixin-u4xTwu7iIn_Kw_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-g0IdnunYQA5av_font-family);
  color: var(--mixin-g0IdnunYQA5av_color);
  font-size: var(--mixin-g0IdnunYQA5av_font-size);
  font-weight: var(--mixin-g0IdnunYQA5av_font-weight);
  letter-spacing: var(--mixin-g0IdnunYQA5av_letter-spacing);
  line-height: var(--mixin-g0IdnunYQA5av_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-lQybvunUzvMUU_font-family);
  color: var(--mixin-lQybvunUzvMUU_color);
  font-size: var(--mixin-lQybvunUzvMUU_font-size);
  font-weight: var(--mixin-lQybvunUzvMUU_font-weight);
  line-height: var(--mixin-lQybvunUzvMUU_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-Vf1uTicA872nx_color);
  padding-left: var(--mixin-Vf1uTicA872nx_padding-left);
  border-left: var(--mixin-Vf1uTicA872nx_border-left-width)
    var(--mixin-Vf1uTicA872nx_border-left-style)
    var(--mixin-Vf1uTicA872nx_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-_8UdB-9l7HRIL_background);
  font-family: var(--mixin-_8UdB-9l7HRIL_font-family);
  border-radius: var(--mixin-_8UdB-9l7HRIL_border-top-left-radius)
    var(--mixin-_8UdB-9l7HRIL_border-top-right-radius)
    var(--mixin-_8UdB-9l7HRIL_border-bottom-right-radius)
    var(--mixin-_8UdB-9l7HRIL_border-bottom-left-radius);
  padding: var(--mixin-_8UdB-9l7HRIL_padding-top)
    var(--mixin-_8UdB-9l7HRIL_padding-right)
    var(--mixin-_8UdB-9l7HRIL_padding-bottom)
    var(--mixin-_8UdB-9l7HRIL_padding-left);
  border-top: var(--mixin-_8UdB-9l7HRIL_border-top-width)
    var(--mixin-_8UdB-9l7HRIL_border-top-style)
    var(--mixin-_8UdB-9l7HRIL_border-top-color);
  border-right: var(--mixin-_8UdB-9l7HRIL_border-right-width)
    var(--mixin-_8UdB-9l7HRIL_border-right-style)
    var(--mixin-_8UdB-9l7HRIL_border-right-color);
  border-bottom: var(--mixin-_8UdB-9l7HRIL_border-bottom-width)
    var(--mixin-_8UdB-9l7HRIL_border-bottom-style)
    var(--mixin-_8UdB-9l7HRIL_border-bottom-color);
  border-left: var(--mixin-_8UdB-9l7HRIL_border-left-width)
    var(--mixin-_8UdB-9l7HRIL_border-left-style)
    var(--mixin-_8UdB-9l7HRIL_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-CC2UfdsFQqV7o_background);
  font-family: var(--mixin-CC2UfdsFQqV7o_font-family);
  border-radius: var(--mixin-CC2UfdsFQqV7o_border-top-left-radius)
    var(--mixin-CC2UfdsFQqV7o_border-top-right-radius)
    var(--mixin-CC2UfdsFQqV7o_border-bottom-right-radius)
    var(--mixin-CC2UfdsFQqV7o_border-bottom-left-radius);
  padding: var(--mixin-CC2UfdsFQqV7o_padding-top)
    var(--mixin-CC2UfdsFQqV7o_padding-right)
    var(--mixin-CC2UfdsFQqV7o_padding-bottom)
    var(--mixin-CC2UfdsFQqV7o_padding-left);
  border-top: var(--mixin-CC2UfdsFQqV7o_border-top-width)
    var(--mixin-CC2UfdsFQqV7o_border-top-style)
    var(--mixin-CC2UfdsFQqV7o_border-top-color);
  border-right: var(--mixin-CC2UfdsFQqV7o_border-right-width)
    var(--mixin-CC2UfdsFQqV7o_border-right-style)
    var(--mixin-CC2UfdsFQqV7o_border-right-color);
  border-bottom: var(--mixin-CC2UfdsFQqV7o_border-bottom-width)
    var(--mixin-CC2UfdsFQqV7o_border-bottom-style)
    var(--mixin-CC2UfdsFQqV7o_border-bottom-color);
  border-left: var(--mixin-CC2UfdsFQqV7o_border-left-width)
    var(--mixin-CC2UfdsFQqV7o_border-left-style)
    var(--mixin-CC2UfdsFQqV7o_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-7XLSCdRuriRMy_display);
  flex-direction: var(--mixin-7XLSCdRuriRMy_flex-direction);
  align-items: var(--mixin-7XLSCdRuriRMy_align-items);
  justify-content: var(--mixin-7XLSCdRuriRMy_justify-content);
  list-style-position: var(--mixin-7XLSCdRuriRMy_list-style-position);
  padding-left: var(--mixin-7XLSCdRuriRMy_padding-left);
  position: var(--mixin-7XLSCdRuriRMy_position);
  list-style-type: var(--mixin-7XLSCdRuriRMy_list-style-type);
  flex-column-gap: var(--mixin-7XLSCdRuriRMy_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-XowBTcPGgaNoW_display);
  flex-direction: var(--mixin-XowBTcPGgaNoW_flex-direction);
  align-items: var(--mixin-XowBTcPGgaNoW_align-items);
  justify-content: var(--mixin-XowBTcPGgaNoW_justify-content);
  list-style-position: var(--mixin-XowBTcPGgaNoW_list-style-position);
  padding-left: var(--mixin-XowBTcPGgaNoW_padding-left);
  position: var(--mixin-XowBTcPGgaNoW_position);
  list-style-type: var(--mixin-XowBTcPGgaNoW_list-style-type);
  flex-column-gap: var(--mixin-XowBTcPGgaNoW_flex-column-gap);
}
